{% extends 'basic_dash.html' %}


{% block content %}
<!--Live Chart-->




<div class="container mt-5">


    <div class="card-group card-deck mt-2">


        <div class="card alert-danger ">
            <div class="card-header font-weight-bold ">Tasks</div>

            <div class="card-body ">

                <div class="card-text">
                    <table class="table table-sm table-hover table-striped">
                        <thead class="table-dark">
                            <th>#</th>
                            <th>Task</th>
                            <th>Status</th>
                            <th>Detail</th>

                        </thead>
                        <tbody class="">

                        {% for task in task_list %}
                            <tr>
                                <th scope="row">
                                    <p>{{ task.id }}</p>
                                </th>
                                <td>{{ task.currency }}</td>
                                <td>{{ task.status }}</td>
                                <td><a class="izzy-navy" href="">View detail</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="card alert-info ">
            <div class="card-header font-weight-bold ">Task: Queries List</div>

            <div class="card-body ">

                <div class="card-text">
                    <table class="table table-sm table-hover">
                        <thead class="table-dark">
                            <th>Task</th>
                            <th>Query</th>
                            <th>Price Range</th>
                            <th>Target</th>
                            <th>Status</th>
                        </thead>
                        <tbody class="">

                        {% for query in query_list %}
                            <tr>
                                <th>
                                    {{ query.task.id }}
                                </th>
                                <td>{{ query.task.currency }}</td>
                                <td>( {{ query.price_starts }},   {{ query.price_ends }} )</td>
                                <td>{{ query.target_amount }}</td>
                                <td>{{ query.status }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>








    </div>

</div>



{% endblock %}

